<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DeliveryApp.Properties.Settings.DeliveryDBConnectionString"
            connectionString="Data Source=DESKTOP-KHO5CBP\SQLEXPRESS;Initial Catalog=DeliveryDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>